{% extends "_base.html" %}

{% block preview %}{% endblock preview %}

{% block css %}
{{ super() }}
<link href='http://fonts.googleapis.com/css?family=Radley:400,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" />
{% endblock css %}

{% block content %}
<div class="container">
  <div class="content">
    {% block page %}{% endblock %}
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!--[if gt IE 8]> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.9/d3.min.js"></script>
<!-- <![endif]-->
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
<script src="js/github.js"></script>
<script src="js/api.js"></script>
<script src="js/charts.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  {% block app %}
  var DailyPopulation = new JailCollection([], {
    url: 'http://cookcountyjail.recoveredfactory.net/api/2.0/daily_population'
  });

  $.when(DailyPopulation.fetch()).done(function(){
    {% block data_loaded %}
    console.log("Override the app_scripts block to execute code with data loaded.");
    {% endblock %}
    $('.content').animate({'opacity': 1}, 500);
  });
  {% endblock %}

  var issues = new GithubIssuesCollection([], {
    url: 'https://api.github.com/repos/sc3/26thandcalifornia/issues',
    params: {'labels': 'page: {{ PATH }}' }
  });
  var issues_list = new GithubIssuesView({
    el: $('#in-progress-issues'),
    collection: issues,
  });
  issues.fetch();
});
</script>
{% endblock scripts %}
