{% extends "_26thandcalifornia.html" %}

{% block content %}
<div class="container">
  <div class="headline">
    <h1>{{ page_population.title.value }}</h1>
    <h2>{{ headline }}</h2>
  </div>
  <div class="content">
    {{ page_population.intro.value|markdown }}
  </div>
  <div class="box">
    <div id="chart" class="chart"></div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
$(document).ready(function() {
  var collection = new JailCollection([], {
    url: 'data/daily_population.json'
  });
  var chart = new Barchart({
    el: $("#chart"),
    collection: collection,
    xKey: 'date',
    yKey: 'population',
  });
  collection.fetch();
});
</script>
{% endblock %}


